<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Myself
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="agon" src="assets/icon/agon.jpg  ">
      </div>
      <div class="flip-card-back">
        <h1>James Warren  Agon</h1>
        <p>Information Communication</p>
        <p></p>
      </div>
    </div>
  </div>
</ion-content>
<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
  <li>Planting Trees</li>
  <li class="checked">Grocery</li>
  <li>Meeting with my friends</li>
  <li>Duty in 7/11</li>
  <li>Go to school</li>
  <li>Jogging</li>
</ul>